.topbar {
    background: var(--secondary--200);
    border-radius: .75rem .75rem 0px 0px;
    padding: .625rem .75rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.file-name a {
    background: var(--secondary--400);
    color: var(--secondary--900);
    padding: .375rem .75rem;
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 100px;
}